.hide {
  display: none;
}

.hideBlocks {
  width: 100%;
  margin: 0;
  overflow:hidden;
}

.nav {
  margin: 0;
  padding-bottom: 0;
  border: none;
}

body {
  .hideBlocks;




}

.header {
  .hideBlocks;

  nav {
    .nav;
  }

  img {
    width: 300px;
  }
}

#pages {
  .hideBlocks;
}

footer {
  .hideBlocks;

  nav {
    .nav;
  }
}

#overlay {

  img {
    position: absolute;
    top:0;
    left:0;
  }

  .info {
    display: none;
  }
}

